{% extends 'main.html' %}

{% block content %}

<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">Image Gallery</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb text-center">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li>Picture Gallery</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--Gallery Area Start-->
<div class="gallery-area pt-110 pb-130">
    <div class="container">
        <div class="row">

            {% for picture in page_obj %}

            {% comment %} <div class="col-md-4 mb-30 col-sm-6">
                <div class="gallery-img">
                    <a href="{{ picture.image.url }}" data-toggle="lightbox" data-gallery="example-gallery">
                        <img src="{{ picture.image.url }}" class="img-fluid" alt="" width="300" height="211">
                    </a>
                </div>
            </div> {% endcomment %}

            <!-- Grid column -->
            <div class="col-md-4 mb-30 col-sm-6">
                <!--Modal: Name-->
                <div class="modal fade" id="{{ picture.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document" style="margin-top:200px">
                        <!--Content-->
                        <div class="modal-content">
                            <!--Body-->
                            <div class="modal-body mb-0 p-0">
                                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                    <img src="{{ picture.image.url }}" class="img-fluid" alt="" width="100%" height="100%">
                                </div>
                            </div>
                            <!--Footer-->
                            <div class="modal-footer">
                                <span style="margin-right:400px">{{ picture.post_id.title }}</span>
                                <a href="{{picture.post_id.get_absolute_url }}" class="btn btn-success btn-rounded btn-md ml-4">Read Post</a>
                                <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!--/.Content-->
                    </div>
                </div>
                <!--Modal: Name-->
                <div class="gallery-img">
                    <a href="#{{ picture.id }}">
                        <img class="img-fluid z-depth-1" src="{{ picture.image.url }}"
                            alt="video" data-toggle="modal" data-target="#{{ picture.id }}">
                    </a>
                </div>
            </div>
            <!-- Grid column -->

            {% endfor %}

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="pagination-content">
                    <ul class="pagination">

                        {% if page_obj.has_previous %}

                        <li><a href="?page=1"><i class="zmdi zmdi-chevron-left"></i><i
                                    class="zmdi zmdi-chevron-left"></i></a></li>
                        <li><a href="?page={{ page_obj.previous_page_number }}"><i
                                    class="zmdi zmdi-chevron-left"></i></a></li>

                        {% endif %}

                        {% if page_obj.has_next %}

                        <li><a href="?page={{ page_obj.next_page_number }}"><i class="zmdi zmdi-chevron-right"></i></a>
                        </li>
                        <li><a href="?page={{ page_obj.paginator.num_pages }}"><i class="zmdi zmdi-chevron-right"></i><i
                                    class="zmdi zmdi-chevron-right"></i></a></li>

                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<!--End of Gallery Area-->

{% endblock content %}