{% extends 'main.html' %}

{% block content %}

<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">Video Gallery</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb text-center">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li>Viddeo Gallery</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--Gallery Area Start-->
<div class="gallery-area pt-110 pb-130">
    <div class="container">

    {% if videos %}

        <div class="row">

            {% for video in page_obj %}

            <div class="col-md-6 mb-30 col-sm-6">
                <iframe width="530" height="300" src="{{ video.embed_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            {% endfor %}

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="pagination-content">
                    <ul class="pagination">
                        
                        {% if page_obj.has_previous %}

                            <li><a href="?page=1"><i class="zmdi zmdi-chevron-left"></i><i class="zmdi zmdi-chevron-left"></i></a></li>
                            <li><a href="?page={{ page_obj.previous_page_number }}"><i class="zmdi zmdi-chevron-left"></i></a></li>

                        {% endif %}

                        {% if page_obj.has_next %}

                            <li><a href="?page={{ page_obj.next_page_number }}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                            <li><a href="?page={{ page_obj.paginator.num_pages }}"><i class="zmdi zmdi-chevron-right"></i><i class="zmdi zmdi-chevron-right"></i></a></li>

                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>

    {% else %}

        <div class="row">
            <div class="col-md-12 mb-30 col-sm-12" style="text-align:center">
                <h2>No videos have been added to the gallery</h2>
                </br>
                <h3>Please comback later</h3>
            </div>
        </div>

    {% endif %}

    </div>
</div>
<!--End of Gallery Area-->

{% endblock content %}