{% extends 'main.html' %}

{% load static %}

{% block content %}

<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">ABOUT US</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb text-center">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li>ABOUT US</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->

<!--About Page Area Start-->
<div class="about-page-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Who we are</h3>
                        <p>Education is the most powerful weapon we use to change the world.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="about-text-container">
                    <p><span>Well come to Green Edu Link</span> come with us, we also teach children about the basic values of human beings as honesty, kindness, generosity, courage, freedom, equality and respect. Learn to celebrate diversity in a spirit of understanding and tolerance and develop a positive regard and awareness of other people. They are taught the values and responsibilities needed to become active members of the community, tolerance and develop something which the modern world is desperate for norem ipsum dolor sit amet desperate.</p>
                    <div class="about-us">
                        <span>Nam gravida magna vitae ante dignissim</span>
                        <span>Duis rhoncus lectus at velit hendrerit quis</span>
                        <span>Sed fringilla tempor arcu feugiat risus</span>
                        <span>Vivamus semper odio in nibh ultricies</span>
                    </div>    
                    <p>Snos trud exerci tation ullorper suscipit lobo maeisrn roester maeoirqs iserrtis nisl ut aliq poerwse thesr oper balinp asein hoinws mawsoib equat. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more tolerance and develop obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through makin of the word in classical literature.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="skill-image">
                    <img src="{% static 'img/logo/about_us_2.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of About Page Area-->

<!--Skill And Experience Area Start-->
<div class="skill-and-experience-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Skills and Experience</h3>
                        <p>Learning is the treasure that will follow its owner everywhere.</p>
                    </div>
                </div> 
            </div>       
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="experience-skill-wrapper">
                    <div class="skill-bar-item">
                        <span>Programming</span>
                        <div class="progress">
                            <div class="progress-bar wow fadeInLeft" data-progress="80%" style="width: 80%;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                <span class="text-top">80%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill-bar-item">
                        <span>Designing</span>
                        <div class="progress">
                            <div class="progress-bar wow fadeInLeft" data-progress="75%" style="width: 75%;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                <span class="text-top">75%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill-bar-item">
                        <span>Creative Writing</span>
                        <div class="progress">
                            <div class="progress-bar wow fadeInLeft" data-progress="90%" style="width: 90%;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                <span class="text-top">90%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill-bar-item">
                        <span>English Lessons</span>
                        <div class="progress">
                            <div class="progress-bar wow fadeInLeft" data-progress="70%" style="width: 70%;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                <span class="text-top">70%</span>
                            </div>
                        </div>
                    </div>  
                </div>    
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="experience-skill-wrapper">
                    <div class="skill-bar-item">
                        <span>Programming</span>
                        <div class="progress">
                            <div class="progress-bar wow fadeInLeft" data-progress="75%" style="width: 75%;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                <span class="text-top">75%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill-bar-item">
                        <span>Creative Writing</span>
                        <div class="progress">
                            <div class="progress-bar wow fadeInLeft" data-progress="90%" style="width: 90%;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                <span class="text-top">90%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill-bar-item">
                        <span>Designing</span>
                        <div class="progress">
                            <div class="progress-bar wow fadeInLeft" data-progress="80%" style="width: 80%;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                <span class="text-top">80%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill-bar-item">
                        <span>English Lessons</span>
                        <div class="progress">
                            <div class="progress-bar wow fadeInLeft" data-progress="100%" style="width: 100%;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                <span class="text-top">100%</span>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>
<!--End of Skill And Experience Area-->

<!--Teachers Area Start-->
<div class="teachers-area padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>OUR FOUNDERS</h3>
                        <p>A good teacher is like a candle – it consumes itself to light the way for others - Mustafakemal Ataturk</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6" style="float: none; margin: 0 auto;">
                <div class="single-teacher-item">
                    <div class="single-teacher-image">
                        <a href="#"><img src="{% static 'img/teacher/anthonynguyen2.jpg' %}" alt=""></a>
                    </div>
                    <div class="single-teacher-text">
                        <h3><a href="#">Anthony Nguyen</a></h3>
                        <h4>CEO</h4>
                        <p>"Engineering is the closest thing to magic that exists in the world."</p>
                        <p>Elon Musk</p>
                        <div class="social-links">
                            <a href="https://www.facebook.com/dung.tri.102" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="#"><i class="zmdi zmdi-google-old"></i></a>
                            <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Teachers Area-->

{% endblock content %}