{% load static %}

<!-- favicon
============================================ -->		
<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo/title_bar_logo.png' %}">

<!-- Google Fonts
============================================ -->		
<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800' rel='stylesheet' type='text/css'>

<!-- Bootstrap CSS
============================================ -->		
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<!-- Color Swithcer CSS
============================================ -->
<link rel="stylesheet" href="{% static 'css/color-switcher.css' %}">

<!-- Fontawsome CSS
============================================ -->
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

<!-- Owl Carousel CSS
============================================ -->
<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">

<!-- jquery-ui CSS
============================================ -->
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">

<!-- Meanmenu CSS
============================================ -->
<link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">

<!-- Animate CSS
============================================ -->
<link rel="stylesheet" href="{% static 'css/animate.css' %}">

<!-- Animated Headlines CSS
============================================ -->
<link rel="stylesheet" href="{% static 'css/animated-headlines.css' %}">

<!-- Nivo slider CSS
============================================ -->
<link rel="stylesheet" href="{% static 'lib/nivo-slider/css/nivo-slider.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'lib/nivo-slider/css/preview.css' %}" type="text/css" media="screen" />

<!-- Metarial Iconic Font CSS
============================================ -->
<link rel="stylesheet" href="{% static 'css/material-design-iconic-font.css' %}">
<link rel="stylesheet" href="{% static 'css/material-design-iconic-font.min.css' %}">

<!-- Slick CSS
============================================ -->
<link rel="stylesheet" href="{% static 'css/slick.css' %}">

<!-- Video CSS
============================================ -->
<link rel="stylesheet" href="{% static 'css/jquery.mb.YTPlayer.css' %}">

<!-- Style CSS
============================================ -->
<link rel="stylesheet" href="{% static 'style.css' %}">

<!-- Color CSS
============================================ -->
<link rel="stylesheet" href="{% static 'css/color.css' %}">

<!-- Responsive CSS
============================================ -->
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">

<!-- Modernizr JS
============================================ -->		
<script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>

<!-- Color Css Files
============================================ -->	
<link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-one.css' %}" title="color-one" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-two.css' %}" title="color-two" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-three.css' %}" title="color-three" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-four.css' %}" title="color-four" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-five.css' %}" title="color-five" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-six.css' %}" title="color-six" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-seven.css' %}" title="color-seven" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-eight.css' %}" title="color-eight" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-nine.css' %}" title="color-nine" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-ten.css' %}" title="color-ten" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/pattren1.css' %}" title="pattren1" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/pattren2.css' %}" title="pattren2" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/pattren3.css' %}" title="pattren3" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/pattren4.css' %}" title="pattren4" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/pattren5.css' %}" title="pattren5" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/background1.css' %}" title="background1" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/background2.css' %}" title="background2" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/background3.css' %}" title="background3" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/background4.css' %}" title="background4" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/background5.css' %}" title="background5" media="screen" />

<!-- ekko-lightbox
============================================ -->		
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">

<!-- Mailchimp
============================================ -->		
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">