{% load static %}

<!--Newsletter Area Start-->
<div class="newsletter-area">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5">
                <div class="newsletter-content">
                    <h3>SUBSCRIBE</h3>
                    <h2>TO OUR NEWSLETTER</h2>
                </div>
            </div>
            <div class="col-md-7 col-sm-7">
                <div class="newsletter-form angle" id="mc_embed_signup">
                    <form action="https://gmail.us3.list-manage.com/subscribe/post?u=15777aa60fa1b0270a930e5ab&amp;id=f63ed0b189"
                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mc-form footer-newsletter fix" target="_blank"
                        novalidate>
                        <div class="subscribe-form" id="mc_embed_signup_scroll">
                            <input id="mce_EMAIL" class="required email" value="" type="email" name="EMAIL" placeholder="Enter your email address..."
                            style="border:none">
                            <button type="submit" value="SUBSCRIBE" name="subscribe" id="mc-submit mc-embedded-subscribe" class="mc-btn">SUBSCRIBE</button>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="text" name="b_15777aa60fa1b0270a930e5ab_f63ed0b189" tabindex="-1" value="">
                            </div>
                        </div>
                    </form>
                    <!-- mailchimp-alerts Start -->
                    <div class="mailchimp-alerts text-centre fix pull-right clear" id="mce-responses">
                        <div class="mailchimp-submitting response"></div><!-- mailchimp-submitting end -->
                        <div class="mailchimp-success response" id="mce-success-response" style="display:none"></div><!-- mailchimp-success end -->
                        <div class="mailchimp-error response" id="mce-error-response" style="display:none"></div><!-- mailchimp-error end -->
                    </div>
                    <!-- mailchimp-alerts end -->

                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Newsletter Area-->

<!--Footer Widget Area Start-->
<div class="footer-widget-area">
    <div class="container">
        <div class="row" style="margin-top:-50px">
            <div class="col-md-4">
                <div class="single-footer-widget" style="margin-top:-20px">
                    <div class="footer-logo">
                        <a href="{% url 'home' %}"><img src="{% static 'img/logo/logo_gel.png' %}" alt=""></a>
                    </div>
                    <p>We link you to a green future!
                    </p>
                    <div class="social-icons">
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-rss"></i></a>
                        <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
                        <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-footer-widget">
                    <h3>GET IN TOUCH</h3>
                    <span><i class="fa fa-phone"></i>(+84) 982 205 216 - (+84) 937 691 089</span>
                    <span><i class="fa fa-envelope"></i>info.greenedulink@gmail.com</span>
                    <span><i class="fa fa-globe"></i>www.greenedulink.com</span>
                    <span><i class="fa fa-map-marker"></i>M Floor, 117-119 Ly Chinh Thang Street,<br> Ward 7, District 3, Ho Chi Minh City</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-footer-widget">
                    <h3>Useful Links</h3>
                    <ul class="footer-list">
                        <li><a href="#">Teachers &amp; Staff</a></li>
                        <li><a href="#">Our Courses</a></li>
                        <li><a href="#">Courses Categories</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Footer Widget Area-->