{% load static %}

<!--Newsletter Area Start-->
<div class="newsletter-area">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5">
                <div class="newsletter-content">
                    <h3>SUBSCRIBE</h3>
                    <h2>TO OUR NEWSLETTER</h2>
                </div>
            </div>
            <div class="col-md-7 col-sm-7">
                <div class="newsletter-form angle" id="mc_embed_signup">
                    {% comment %} <form method="POST" id="mc-form" class="mc-form footer-newsletter fix" id="subscribe">
                        {% csrf_token %}
                        <div class="subscribe-form form-group">
                            <input id="email_id" type="email" name="email_id" placeholder="Enter your email address...">
                            <button id="email_submit" type="submit">SUBSCRIBE</button>
                        </div>
                    </form> {% endcomment %}

                    <form action="https://gmail.us3.list-manage.com/subscribe/post?u=15777aa60fa1b0270a930e5ab&amp;id=f63ed0b189"
                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mc-form footer-newsletter fix" target="_blank"
                        novalidate>
                        <div class="subscribe-form form-group" id="mc_embed_signup_scroll">
                            <input id="mce-EMAIL" class="required email" value="" type="email" name="EMAIL" placeholder="Enter your email address..."
                            style="border:none">
                            <button type="submit" value="SUBSCRIBE" name="subscribe" id="mc-submit mc-embedded-subscribe" class="mc-btn">SUBSCRIBE</button>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="text" name="b_15777aa60fa1b0270a930e5ab_f63ed0b189" tabindex="-1" value="">
                            </div>
                        </div>
                    </form>

                    <!-- mailchimp-alerts Start -->
                    <div class="mailchimp-alerts text-centre fix pull-right clear" id="mce-responses">
                        <div class="mailchimp-submitting response"></div><!-- mailchimp-submitting end -->
                        <div class="mailchimp-success response" id="mce-success-response" style="display:none"></div><!-- mailchimp-success end -->
                        <div class="mailchimp-error response" id="mce-error-response" style="display:none"></div><!-- mailchimp-error end -->
                    </div>
                    <!-- mailchimp-alerts end -->

                    {% comment %} <form action=""
                        method="post" id="subscribe" name="mc-embedded-subscribe-form" class="validate mc-form footer-newsletter fix" novalidate>
                        {% csrf_token %}
                        <div class="subscribe-form form-group">
                            <input id="mce-EMAIL" type="email" name="EMAIL" placeholder="Enter your email address...">
                            <button type="submit" value="SUBSCRIBE" name="subscribe" id="subscribe-btn">SUBSCRIBE</button>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                    name="b_15777aa60fa1b0270a930e5ab_f63ed0b189" tabindex="-1" value=""></div>
                        </div>
                    </form> {% endcomment %}

                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Newsletter Area-->

<!--Footer Widget Area Start-->
<div class="footer-widget-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="single-footer-widget">
                    <div class="footer-logo">
                        <a href="index.html"><img src="img/logo/footer.png" alt=""></a>
                    </div>
                    <p>There are many variations of passg of Lorem Ipsum available, but thmajority have suffered altem,
                    </p>
                    <div class="social-icons">
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-rss"></i></a>
                        <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
                        <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="single-footer-widget">
                    <h3>GET IN TOUCH</h3>
                    <span><i class="fa fa-phone"></i>+88 018 785 4589</span>
                    <span><i class="fa fa-envelope"></i>devitems@email.com</span>
                    <span><i class="fa fa-globe"></i>www.devitems.com</span>
                    <span><i class="fa fa-map-marker"></i>ur address goes here,street.</span>
                </div>
            </div>
            <div class="col-md-3 hidden-sm">
                <div class="single-footer-widget">
                    <h3>Useful Links</h3>
                    <ul class="footer-list">
                        <li><a href="#">Teachers &amp; Staff</a></li>
                        <li><a href="#">Our Courses</a></li>
                        <li><a href="#">Courses Categories</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="single-footer-widget">
                    <h3>Instagram</h3>
                    <div class="instagram-image">
                        <div class="footer-img">
                            <a href="#"><img src="img/footer/1.jpg" alt=""></a>
                        </div>
                        <div class="footer-img">
                            <a href="#"><img src="img/footer/2.jpg" alt=""></a>
                        </div>
                        <div class="footer-img">
                            <a href="#"><img src="img/footer/3.jpg" alt=""></a>
                        </div>
                        <div class="footer-img">
                            <a href="#"><img src="img/footer/4.jpg" alt=""></a>
                        </div>
                        <div class="footer-img">
                            <a href="#"><img src="img/footer/5.jpg" alt=""></a>
                        </div>
                        <div class="footer-img">
                            <a href="#"><img src="img/footer/6.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Footer Widget Area-->

<!--Footer Area Start-->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-7">
                <span>Copyright &copy; EDUCAT 2016.All right reserved.Created by <a href="#">Devitems</a></span>
            </div>
            <div class="col-md-6 col-sm-5">
                <div class="column-right">
                    <span>Privacy Policy , Terms &amp; Conditions</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--End of Footer Area-->