{% load static %}

<!--Header Area Start-->
<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-6 hidden-xs">
                    <span>Have any question? (+84) 982 205 216</span>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                    <div class="header-top-right" style="width:600px; margin-right:-200px">
                        <div class="content"><a href="https://www.facebook.com/greenedulink" target="_blank"><i class="zmdi zmdi-facebook"></i> Facebook</a></div>
                        <div class="content"><a href="https://www.facebook.com/greenedulink/about/?ref=page_internal" target="_blank"><i class="zmdi zmdi-email"></i> Gmail</a></div>
                        <div class="content"><a href="#" target="_blank"><i class="zmdi zmdi-youtube"></i> Youtube</a></div>
                        <div class="content"><a href="#" target="_blank"><i class="zmdi zmdi-twitter"></i> Twitter</a></div>
                        <div class="content"><a href="#" target="_blank"><i class="zmdi zmdi-pinterest"></i> Pinterest</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-logo-menu sticker">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="logo" style="width: 400px">
                        <a href="{% url 'home' %}"><img src="{% static 'img/logo/logo2.png' %}" alt="GREEN EDU LINK" style="margin-top:-50px"></a>
                        <div style="display: inline-block; margin-left: 10px; border:1px solid red">
                            <h2>Green Edu Link</h2>
                            <h4>Connect to success</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 hidden-sm hidden-xs">
                    <div class="mainmenu-area pull-right">
                        <div class="mainmenu">
                            <nav>
                                <ul id="nav">
                                    <li class="current"><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="{% url 'post:post' %}">News</a></li>
                                    <li><a href="#">Schoolarships</a></li>
                                    <li><a href="{% url 'gallery:gallery' %}">Galleries</a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'gallery:picture_gallery' %}">Pictures</a></li>
                                            <li><a href="{% url 'gallery:video_gallery' %}">Videos</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'about' %}">About</a></li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <ul class="header-search">
                            <li class="search-menu">
                                <i id="toggle-search" class="zmdi zmdi-search"></i>
                            </li>
                        </ul>
                        <!--Search Form-->
                        <div class="search">
                            <div class="search-form">
                                <form id="search-form" action="{% url 'post:post_search' %}" method="get">
                                    <input type="search" placeholder="Search here..." name="search_query" />
                                    <button type="submit">
                                        <span><i class="fa fa-search"></i></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!--End of Search Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu Area start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul>
                                <li class="current"><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'post:post' %}">News</a></li>
                                <li><a href="#">Schoolarships</a></li>
                                <li><a href="shop-grid.html">Galleries</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'gallery:picture_gallery' %}">Pictures</a></li>
                                        <li><a href="{% url 'gallery:video_gallery' %}">Videos</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'about' %}">About</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu Area end -->
</header>
<!--End of Header Area-->