{% extends "main.html" %}

{% load static %}

{% block content %}

<!-- Bannner -->
<div id="about-banner" class="carousel" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/News/banner2.png" class="d-block w-100 img-fluid" alt="picture-01">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="align-self-center">Tin Tức</h1>
            </div>
        </div>
    </div>
</div>

<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide travel-carousel" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/News/banner.png" class="d-block w-100 img-fluid" alt="picture-01">
            <div class="carousel-caption d-none d-md-block">
                <h3>Du Học Mỹ THPT Cơ Hội Nhận Học Bổng</h3>
                <h1>Toàn phần 19,000$ cùng đại diện trường ĐH Cincinati</h1>
                <h5>8 trường trung học với chất lượng đỉnh cao</h5>
                <a href="#" class="btn btn-success">ĐĂNG KÍ NGAY</a>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- News (Reuse Hot News Components) -->
<div class="container-fluid" id="hot-news">
    <div class="row" id="hot-news-title">
        <div class="col-7">
            <h1 class="d-flex justify-content-left" style="margin-left: 120px;">Tin Du Học</h1>
        </div>
        <div class="col-5 d-flex" id="search-box">
            <div class="input-group align-self-end">
                <input class="form-control py-2 border-right-0 border" type="search" value="Tìm kiếm"
                    id="example-search-input">
                <span class="input-group-append">
                    <button class="btn btn-outline-success border-left-0 border" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="row" id="hot-news-cards">
        <div class="col-lg-4 my-3">
            <div class="card">
                <img src="img/News/news1.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Cẩm nang giúp bạn tự tin khi phỏng vấn xin visa du học</h3>
                    <p class="card-text">Nhiều bạn học sinh, sinh viên rất tự tin khi nộp đơn xin học bổng nhưng lại gặp
                        vấn đề khi phỏng…</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 my-3">
            <div class="card">
                <img src="img/News/news2.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Bật mí 10 lý do khiến đơn xin học bổng của bạn bị từ chối</h3>
                    <p class="card-text">Nhiều bạn học sinh, sinh viên rất tự tin khi nộp đơn xin học bổng nhưng lại gặp
                        vấn đề…</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 my-3">
            <div class="card">
                <img src="img/News/news3.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h3 class="card-title">5 câu hỏi sinh viên thắc mắc khi chuẩn bị để du học Canada</h3>
                    <p class="card-text">Để bắt đầu năm 2018 thật sôi động, tập đoàn giáo dục Kaplan International
                        Pathways (KIP) US …</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 my-3">
            <div class="card">
                <img src="img/News/news4.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h3 class="card-title">5 câu hỏi sinh viên thắc mắc khi chuẩn bị để du học Canada</h3>
                    <p class="card-text">Để bắt đầu năm 2018 thật sôi động, tập đoàn giáo dục Kaplan International
                        Pathways (KIP) US …</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 my-3">
            <div class="card">
                <img src="img/News/news5.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h3 class="card-title">5 câu hỏi sinh viên thắc mắc khi chuẩn bị để du học Canada</h3>
                    <p class="card-text">Để bắt đầu năm 2018 thật sôi động, tập đoàn giáo dục Kaplan International
                        Pathways (KIP) US …</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 my-3">
            <div class="card">
                <img src="img/News/news6.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h3 class="card-title">5 câu hỏi sinh viên thắc mắc khi chuẩn bị để du học Canada</h3>
                    <p class="card-text">Để bắt đầu năm 2018 thật sôi động, tập đoàn giáo dục Kaplan International
                        Pathways (KIP) US …</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 my-3">
            <div class="card">
                <img src="img/News/news7.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h3 class="card-title">5 câu hỏi sinh viên thắc mắc khi chuẩn bị để du học Canada</h3>
                    <p class="card-text">Để bắt đầu năm 2018 thật sôi động, tập đoàn giáo dục Kaplan International
                        Pathways (KIP) US …</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 my-3">
            <div class="card">
                <img src="img/News/news8.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h3 class="card-title">5 câu hỏi sinh viên thắc mắc khi chuẩn bị để du học Canada</h3>
                    <p class="card-text">Để bắt đầu năm 2018 thật sôi động, tập đoàn giáo dục Kaplan International
                        Pathways (KIP) US …</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 my-3">
            <div class="card">
                <img src="img/News/news9.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h3 class="card-title">5 câu hỏi sinh viên thắc mắc khi chuẩn bị để du học Canada</h3>
                    <p class="card-text">Để bắt đầu năm 2018 thật sôi động, tập đoàn giáo dục Kaplan International
                        Pathways (KIP) US …</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="oversea-tips-pagination">
        <div class="col-12 d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Multiple Items Carousel -->
<div id="multi-items-carousel">

    <div class="row" id="hot-news-title">
        <div class="col-12">
            <h1>Cẩm Nan Du Học</h1>
        </div>
    </div>

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
            <li data-target="#multi-item-example" data-slide-to="1"></li>
            <li data-target="#multi-item-example" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top" src="img/News/studytips1.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Cùng khám phá vùng đất bí ẩn và thơ mộng đẹp đến lạ thường</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" src="img/News/studytips2.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Bật mí 10 lý do khiến đơn xin học bổng của bạn bị từ chối</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" src="img/News/studytips3.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Làm thế nào để du lịch mộ mình khi đến với nước Mỹ</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--/.First slide-->

            <!--Second slide-->
            <div class="carousel-item">

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top" src="img/News/studytips4.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Hé lộ top trường Cao đẳng cộng đồng danh tiếng tại Washington, Mỹ.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" src="img/News/studytips4.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Hé lộ top trường Cao đẳng cộng đồng danh tiếng tại Washington, Mỹ.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" src="img/News/studytips4.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Hé lộ top trường Cao đẳng cộng đồng danh tiếng tại Washington, Mỹ.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--/.Second slide-->

            <!--Third slide-->
            <div class="carousel-item">

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top" src="img/News/studytips4.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Hé lộ top trường Cao đẳng cộng đồng danh tiếng tại Washington, Mỹ.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" src="img/News/studytips4.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Hé lộ top trường Cao đẳng cộng đồng danh tiếng tại Washington, Mỹ.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" src="img/News/studytips4.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Hé lộ top trường Cao đẳng cộng đồng danh tiếng tại Washington, Mỹ.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--/.Third slide-->

        </div>
        <!--/.Slides-->

        <!--Controls-->
        <a id="multi-items-carousel-control" class="carousel-control-prev" href="#multi-item-example" role="button"
            data-slide="prev"><i class="fas fa-chevron-left"></i></a>
        <a id="multi-items-carousel-control" class="carousel-control-next" href="#multi-item-example" role="button"
            data-slide="next"><i class="fas fa-chevron-right"></i></i></i></a>
        <!--/.Controls-->

    </div>
    <!--/.Carousel Wrapper-->

</div>

{% endblock content %}