{% extends "main.html" %}

{% load static %}

{% block content %}

<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">POPULAR POSTS</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb text-center">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li>Posts</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->

<!--Search Category Start-->
<div class="search-category">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form action="{% url 'post:post_search' %}" method="get">
                    <div class="form-container">
                        <div class="box-select">
                            <input type="text" class="form-control" name="search_query" placeholder="Search post"
                                style="width:600px; height:50px">
                        </div>
                        <button type="submit" style="margin-top:-50px; height:50px">Search Course</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End of Search Category-->

<!--Course Area Start-->
<div class="course-area section-padding course-page">
    <div class="container">

        {% if search_query or tag %}

        <div class="row" style="margin-top:-50px; margin-bottom:50px">
            <div class="col-md-12" style="text-align: center;">
                {% if posts_qs %}
                <h2 style="margin-bottom:70px">Posts related to
                    "{% if search_query %}{{ search_query }}{% else %}{{ tag }}{% endif %}"</h2>
                {% else %}
                <h2 style="margin-bottom:70px">Sorry, we cannot find any posts related to
                    "{% if search_query %}{{ search_query }}{% else %}{{ tag }}{% endif %}"</h2>
                {% endif %}

            </div>
        </div>

        {% endif %}

        <div class="row">

            {% for post in page_obj %}

            <div class="col-md-4 col-sm-6">
                <div class="single-item">
                    <div class="single-item-image overlay-effect" style="300px; height: 211px">
                        <a href="{{ post.get_absolute_url }}"><img src="{{ post.thumbnail.url }}" alt=""></a>
                    </div>
                    <div class="single-item-text">
                        <div style="height:60px">
                            <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                        </div>
                        <div class="single-item-text-info" style="height:60px">
                            <span>By: <span>{{ post.user_id.get_full_name }}</span></span>
                            <br />
                            <span>Date: <span>{{ post.created_at }}</span></span>
                        </div>
                        <div style="height:60px">
                            <p>{{ post.description }}</p>
                        </div>
                        <div class="single-item-content">
                            <div class="single-item-comment-view">
                                <span><i class="zmdi zmdi-eye"></i>{{ post.views }}</span>
                                <span><i class="zmdi zmdi-comments"></i>{{ post.comments }}</span>
                            </div>
                            <div class="single-item-rating">
                                <i class="zmdi zmdi-star"></i>
                                <i class="zmdi zmdi-star"></i>
                                <i class="zmdi zmdi-star"></i>
                                <i class="zmdi zmdi-star"></i>
                                <i class="zmdi zmdi-star-half"></i>
                            </div>
                        </div>
                    </div>
                    <div class="button-bottom">
                        <a href="{{ post.get_absolute_url }}" class="button-default">Read Now</a>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="pagination-content">
                    <ul class="pagination">

                        {% if page_obj.has_previous %}

                        <li><a href="?page=1"><i class="zmdi zmdi-chevron-left"></i><i
                                    class="zmdi zmdi-chevron-left"></i></a></li>
                        <li><a href="?page={{ page_obj.previous_page_number }}"><i
                                    class="zmdi zmdi-chevron-left"></i></a></li>

                        {% endif %}

                        {% if page_obj.has_next %}

                        <li><a href="?page={{ page_obj.next_page_number }}"><i class="zmdi zmdi-chevron-right"></i></a>
                        </li>
                        <li><a href="?page={{ page_obj.paginator.num_pages }}"><i class="zmdi zmdi-chevron-right"></i><i
                                    class="zmdi zmdi-chevron-right"></i></a></li>

                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Course Area-->

{% endblock content %}