{% extends "main.html" %}

{% load static %}

{% block content %}

<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">POPULAR POSTS</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb text-center">
                            <li><a href="#">Home</a></li>
                            <li>Posts</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->

<!--Search Category Start-->
<div class="search-category">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form action="#" method="post">
                    <div class="form-container">
                        <div class="box-select">
                            <div class="select large" style="width:200px">
                                <select name="category">
                                    <option>All Categories</option>
                                    <option>Web Design</option>
                                    <option>Designing</option>
                                    <option>Development</option>
                                    <option>Programming</option>
                                    <option>Developing</option>
                                </select>
                            </div>
                            <div class="select small" style="width:200px">
                                <select name="date">
                                    <option>Price</option>
                                    <option>$10000</option>
                                    <option>$35000</option>
                                    <option>$67000</option>
                                    <option>$82000</option>
                                    <option>$95000</option>
                                </select>
                            </div>
                            <div class="select medium" style="width:200px">
                                <select name="date">
                                    <option>Course Type</option>
                                    <option>Web Design</option>
                                    <option>Designing</option>
                                    <option>Development</option>
                                    <option>Programming</option>
                                    <option>Developing</option>
                                </select>
                            </div>
                        </div>
                        <button type="button">Search Course</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End of Search Category-->

<!--Course Area Start-->
<div class="course-area section-padding course-page">
    <div class="container">
        <div class="row">
            {% for post in page_obj %}
            <div class="col-md-4 col-sm-6">
                <div class="single-item">
                    <div class="single-item-image overlay-effect" style="300px; height: 211px">
                        <a href="{{ post.get_absolute_url }}"><img src="{{ post.thumbnail.url }}" alt=""></a>
                    </div>
                    <div class="single-item-text">
                        <div style="height:60px">
                            <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                        </div>
                        <div class="single-item-text-info" style="height:60px">
                            <span>By: <span>{{ post.user_id.get_full_name }}</span></span>
                            <br />
                            <span>Date: <span>{{ post.created_at }}</span></span>
                        </div>
                        <div style="height:60px">
                            <p>{{ post.description }}</p>
                        </div>
                        <div class="single-item-content">
                            <div class="single-item-comment-view">
                                <span><i class="zmdi zmdi-eye"></i>{{ post.views }}</span>
                                <span><i class="zmdi zmdi-comments"></i>{{ post.comments }}</span>
                            </div>
                            <div class="single-item-rating">
                                <i class="zmdi zmdi-star"></i>
                                <i class="zmdi zmdi-star"></i>
                                <i class="zmdi zmdi-star"></i>
                                <i class="zmdi zmdi-star"></i>
                                <i class="zmdi zmdi-star-half"></i>
                            </div>
                        </div>
                    </div>
                    <div class="button-bottom">
                        {% comment %} <a href="{% url 'post:post_detail' post.pk post.slug %}"
                            class="button-default">Read Now</a> {% endcomment %}
                        <a href="{{ post.get_absolute_url }}" class="button-default">Read Now</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="pagination-content">
                    <ul class="pagination">
                        {% comment %} <li><a href="#"><i class="zmdi zmdi-chevron-left"></i></a></li>
                        <li class="current"><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>
                        {% endcomment %}
                        {% if page_obj.has_previous %}
                        <li><a href="?page=1"><i class="zmdi zmdi-chevron-left"></i><i class="zmdi zmdi-chevron-left"></i></a></li>
                        <li><a href="?page={{ page_obj.previous_page_number }}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                        {% endif %}
                        {% comment %} <li>
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        </li> {% endcomment %}
                        {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                        <li><a href="?page={{ page_obj.paginator.num_pages }}"><i class="zmdi zmdi-chevron-right"></i><i class="zmdi zmdi-chevron-right"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Course Area-->

<!--Teachers Area Start-->
<div class="teachers-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>OUR TEACHERS</h3>
                        <p>There are many variations of passages of Lorem Ipsum</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-teacher-item">
                    <div class="single-teacher-image">
                        <a href="#"><img src="img/teacher/l-1.jpg" alt=""></a>
                    </div>
                    <div class="single-teacher-text">
                        <h3><a href="#">Louis Smith</a></h3>
                        <h4>Teacher</h4>
                        <p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected humour, amr</p>
                        <div class="social-links">
                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="#"><i class="zmdi zmdi-google-old"></i></a>
                            <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-teacher-item">
                    <div class="single-teacher-image">
                        <a href="#"><img src="img/teacher/l-2.jpg" alt=""></a>
                    </div>
                    <div class="single-teacher-text">
                        <h3><a href="#">Louis Smith</a></h3>
                        <h4>Teacher</h4>
                        <p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected humour, amr</p>
                        <div class="social-links">
                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="#"><i class="zmdi zmdi-google-old"></i></a>
                            <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 hidden-sm">
                <div class="single-teacher-item">
                    <div class="single-teacher-image">
                        <a href="#"><img src="img/teacher/l-3.jpg" alt=""></a>
                    </div>
                    <div class="single-teacher-text">
                        <h3><a href="#">Louis Smith</a></h3>
                        <h4>Teacher</h4>
                        <p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected humour, amr</p>
                        <div class="social-links">
                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="#"><i class="zmdi zmdi-google-old"></i></a>
                            <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 hidden-md hidden-sm">
                <div class="single-teacher-item">
                    <div class="single-teacher-image">
                        <a href="#"><img src="img/teacher/l-4.jpg" alt=""></a>
                    </div>
                    <div class="single-teacher-text">
                        <h3><a href="#">Louis Smith</a></h3>
                        <h4>Teacher</h4>
                        <p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected humour, amr</p>
                        <div class="social-links">
                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="#"><i class="zmdi zmdi-google-old"></i></a>
                            <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Teachers Area-->

{% endblock content %}